@charset 'utf-8';

* {margin: 0; padding: 0;}
ul, ol, li {list-style: none;}
a {text-decoration: none; outline:1;}
.hidden {position: absolute; text-indent: -9999999px; opacity: 0; visibility: hidden;}

$tablet : 1179px;
$mobile : 639px;

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&family=Open+Sans:wght@400;600;700&family=Titillium+Web:wght@400;600;700&display=swap');

@import 'intro';
@import 'index/visual';
@import 'index/nav';
@import 'index/con1';
@import 'index/part';
@import 'index/tab';
@import 'index/blue';
@import 'index/banner';
@import 'index/black';
@import 'index/notice';
@import 'common/header';
@import 'common/footer';
@import 'sub/location';
@import 'sub/community';
@import 'sub/join';
@import 'sub/login';
@import 'sub/gall_living';
@import 'sub/gall_bed';
@import 'sub/gall_kitchen';
@import 'sub/gall_props';
@import 'sub/aboutus';

.subVisual {
    .inner {
        >div {
            position: absolute; left: 50%; top: 50%; transform: translate(-50%, -60%); text-align: center;
        
            span {border-bottom: 2px solid #fff; font: 18px/1 'Open Sans', sans-serif; letter-spacing: 1px; color: #fff; padding-bottom: 5px; text-shadow: 0px 0px 5px rgba(0,0,0,0.8);}
            h1 {font: 600 50px/1 'Titillium Web', sans-serif; color: #fff; margin-top: 20px;  text-shadow: 5px 5px 10px rgba(0,0,0,0.8);}
        }
    }
}


/* tablet */
@media screen and (max-width:$tablet){
    .subVisual .inner >div {
        h1 {font-size: 40px;}
    }
}
/* mobile */
@media screen and (max-width:$mobile){
    .subVisual .inner >div {
        span {line-height: 1.8;}
        h1 {font-size: 40px;}
    }
}