@charset 'utf-8';

* {margin: 0; padding: 0;}
ul, ol, li {list-style: none;}
a {text-decoration: none; outline:1;}
.hidden {position: absolute; text-indent: -9999999px; opacity: 0; visibility: hidden;}

$tablet : 1179px;
$mobile : 639px;

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&family=Open+Sans:wght@400;600;700&family=Titillium+Web:wght@400;600;700&display=swap');

@import 'intro';
@import 'index/visual';
@import 'index/nav';
@import 'index/con1';
@import 'index/part';
@import 'index/tab';
@import 'index/blue';
@import 'index/banner';
@import 'index/black';
@import 'index/notice';
@import 'common/header';
@import 'common/footer';
@import 'sub/location';
@import 'sub/community';
@import 'sub/join';
@import 'sub/login';
@import 'sub/gall_living';
@import 'sub/gall_bed';
@import 'sub/gall_kitchen';
@import 'sub/gall_props';
@import 'sub/aboutus';
