#location_visual {
    width: 100%; background: url('../img/location.jpg') no-repeat center 20%;  background-size: cover; height: 400px;
    .inner {
        width: 1180px; margin: 0 auto; position: relative; width: 100%; height: 100%;

        >div {
            position: absolute; left: 50%; top: 50%; transform: translate(-50%, -60%);text-align: center;
        
            span {border-bottom: 2px solid #fff; font: 16px/1 'Open Sans', sans-serif; letter-spacing: 1px; color: #fff; padding-bottom: 5px; text-shadow: 0px 0px 5px rgba(0,0,0,0.8);}
            h1 {font: bold 40px/1 'Titillium Web', sans-serif; color: #fff; margin-top: 20px;  text-shadow: 5px 5px 10px rgba(0,0,0,0.8);}
        }
    }
}

.location {
    width: 100%; padding: 150px 0; box-sizing: border-box;

    .inner {
        width: 1180px; margin: 0 auto;

        h1 {font: 600 30px/1 'Titillium Web', sans-serif; margin-bottom: 100px; color: #333;}

        .wrap {
            width: 100%;

            
                        
            #map {
                width:100%; height:500px; background:#000;
                
            }

            #branch {
                margin-top:20px; margin-bottom: 40px;

                &::after {content:''; display: block; clear: both;}

                li {
                    width:100px; height:40px; 
                    font:bold 15px/40px 'Nanum Gothic', sans-serif; color: #207961; text-align:center;
                    float:left; margin-right:10px; cursor:pointer; 
                    &:hover {
                        border-bottom: 2px solid rgb(176, 233, 202);
                    }
                    &.on {
                        border-bottom: 2px solid #207961;
                    }
                }
            }

            .detail {
                dt {font: bold 15px/1 'Nanum Gothic', sans-serif; color: #20604f; display: inline-block;}
                dd {display: inline-block; font: 14px/1 'Nanum Gothic', sans-serif; color: rgba(29, 73, 61, 0.78)}
            }
        }
    }
}

// tablet
@media screen and (max-width: $tablet) {

    #location_visual {
        height: 300px;
        .inner {
            width: 90%; 
    
            >div {            
                span {border-bottom: 2px solid #fff; font: 16px/1 'arial'; color: #fff; padding-bottom: 5px; }
                h1 {font: bold 40px/1 'arial'; color: #fff; margin-top: 20px;}
            }
        }
    }

    .location {padding: 100px 0; 
        .inner {
            width: 90%; 
    
            h1 {font: 30px/1 'arial'; margin-bottom: 50px;}
    
            .wrap {
                width: 100%;
                #map {
                    width:100%; height:500px; background:#000;
                    
                }
    
                #branch {
                    margin-top:20px; margin-bottom: 40px;
    
                    &::after {content:''; display: block; clear: both;}
    
                    li {
                        width:100px; height:40px; 
                        font:bold 12px/40px 'arial'; color: rgb(19, 92, 52); text-align:center;
                        float:left; margin-right:10px; cursor:pointer; 
                        &:hover {
                            border-bottom: 2px solid rgb(176, 233, 202);
                        }
                        &.on {
                            border-bottom: 2px solid rgb(55, 175, 109);
                        }
                    }
                }
    
                .detail {
                    dt {font: bold 14px/1 'arial'; color: #333; display: inline-block;}
                    dd {display: inline-block; font: 14px/1 'arial'; color: #333;}
                }
            }
        }
    }
}

// mobile
@media screen and (max-width: $mobile) {
    #location_visual {
        height: 250px;
        .inner {
            width: 90%; 
    
            >div {            
                span {border-bottom: 2px solid #fff; font: 16px/1 'arial'; color: #fff; padding-bottom: 5px; }
                h1 {font: bold 40px/1 'arial'; color: #fff; margin-top: 20px;}
            }
        }
    }

    
    .location {
        
        .inner {
    
            .wrap {
                #map {height:400px;}
    
                #branch {
    
                    li {
                        width:80px;
                    }
                }
    
            }
        }
    }
}