#con1 { 
    width: 100%; padding: 150px 0 50px;

    .inner {
        width: 1180px; margin: 0 auto; overflow: hidden;

        .wrap{
            width: 100%; 

            &::after {content:''; display: block; clear: both;}

            article{
                float: left; box-sizing: border-box;
                
                &.txtBox1{
                    transform: translateX(-200px); opacity: 0; transition: 0.5s;
                    width: 49%; height: 300px; margin-bottom: 40px; padding-top: 100px; margin-right: 2%;
                    h2 {font: 28px/1 'Titillium Web', sans-serif; color: #333; margin-bottom: 15px;}
                    p {font: 20px/1 'Open Sans', sans-serif; color: rgb(21, 161, 91);}
                }
                
                &.txtBox2{
                    position: relative; width: 49%; height: 300px; padding-top: 100px; 

                    h2 {font: 24px/1 'Titillium Web', sans-serif; color: #333; margin-bottom: 15px; opacity: 0; transition: 0.5s 0.1s; transform: translateY(-100px);}

                    p {font: 16px/1 'Open Sans', sans-serif; color: rgb(21, 161, 91); margin-bottom: 20px; opacity: 0; transition: 0.5s; transform: translateY(-100px);}

                    .pic {
                        background:url('../img/gi_logo.png') no-repeat; background-size: contain; position: absolute; right: 60px; top: 30px; width: 150px; height: 150px; z-index: -1; transform: translateX(100px); opacity: 0; transition: 0.5s  0.3s;
                    }

                    a{display: block; width: 100px; height: 30px; font: 16px/30px 'Open Sans', sans-serif; color: rgb(33, 124, 78); border: 1px solid #555; text-align: center; border-radius: 13px;opacity: 0; transition: 0.5s 0.3s;}

                    &::before {content:''; display: block; background: #bdd4be86; width: 60%; height: 60%; position: absolute; right: 5%; bottom: 20%; z-index: -2; transform: translateX(200px); opacity: 0; transition: 0.5s;}
                }
            }
        }
    }

    &.on {
        .inner .wrap {
            .txtBox1 {transform: translateX(0); opacity: 1;}
            .txtBox2 {
                h2 {opacity: 1; transform: translateY(0);}
                p {opacity: 1; transform: translateY(0);}
                a {opacity: 1;}
                .pic {transform: translateX(0); opacity: 1;}
                &::before {transform: translateX(0); opacity: 1;}
            }
        }
    }
}

//tablet
@media screen and (max-width: $tablet) {
    #con1 {
        height: auto; padding: 80px 0; 
    
        .inner {
            width:90%; 

            .wrap{
    
                article{                    
                    &.txtBox1{
                        width: 49%; margin-right: 2%;
                        h2 {font-size: 24px; }
                    }
                    
                    &.txtBox2{
                        width: 49%;
                        .pic {width: 120px; height: 120px; right: 30px;}
    
                    }
                }
            }
            
        }
    }
}

// mobile
@media screen and (max-width: $mobile) {
    #con1 {
         
        .inner {
           
            .wrap{
    
                article{                    
                    &.txtBox1{
                      width: 100%;
                    }
                    
                    &.txtBox2{
                       width: 100%;
                       .pic {width: 140px; height: 140px; right: 60px;}
    
                    }
                }
            }
            
        }
    }
}