#navi {
    position: fixed; right: 40px; top: 50%; transform: translateY(-50%); z-index: 8;

    li {
        a {
            width: 8px; height: 8px; border-radius: 50%; border: 1px solid rgb(4, 65, 39); margin-bottom: 15px; display: block; transition: 0.4s;

            &.on {
                background: rgb(4, 65, 39); height: 25px;  border-radius: 10%;
                
            }
        }
       
      
    }
}

// tablet
@media screen and (max-width:$tablet) {
    #navi {display: none;}
}